<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module Express.js v2</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <aside class="sidebar">
        <header class="header">
            <a href="/"><h1 class="h1">Module Express.js v2</h1></a>
            <nav class="navbar">
                <div class="separator"></div>
                <a class="item <%= (currentUrl === '/') ? 'is-active' : '' %>" href="/">Accueil</a>
                <div class="separator"></div>
                <a class="item <%= (currentUrl.includes('/users')) ? 'is-active' : '' %>" href="/users">Utilisateurs</a>
                <div class="separator"></div>
                <a class="item <%= (currentUrl === '/connexion') ? 'is-active' : '' %>" href="/connexion">Connexion</a>
                <div class="separator"></div>
                <a class="item <%= (currentUrl === '/mauvais_url') ? 'is-active' : '' %>" href="/mauvais_url">Page 404</a>
                <div class="separator"></div>
                <a class="item <%= (currentUrl === '/chat') ? 'is-active' : '' %>" href="/chat">Chat</a>
                <div class="separator"></div>
                <a class="item <%= (currentUrl === '/api') ? 'is-active' : '' %>" href="/api">API</a>
                <div class="separator"></div>
                <a class="item <%= (currentUrl === '/docs') ? 'is-active' : '' %>" href="/docs">Documentation avec <br>Swagger UI</a>
                <div class="separator"></div>
            </nav>
        </header>
    </aside>